
schedules:
  - cron: "0 12 * * 0"
    displayName: Weekly Sunday build
    branches:
      include:
      - master
    always: true
  
trigger:
- master

jobs:
  - template: ./.azure-pipelines/azure-pipelines-linux.yml
  - template: ./.azure-pipelines/azure-pipelines-osx.yml
  # - template: ./.azure-pipelines/azure-pipelines-win.yml
